
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/bootstrap.min.css">


    <title>Cam Recorder</title>


    <script type="text/javascript">
    
        var dates = {}
        var dateOrder = []
        var v;
        
        {{range $i, $value := .Dates}}
            v  = {
                    date: "{{$value.Date}}",
                    weekday: "{{$value.DayOfWeek}}",
                    files:[ 
                        {{range $value.Files}}
                        {
        
                            start: {{.Start}},
                            end: {{.End}},
                            start_time: "{{.StartTime}}",
                            end_time: "{{.EndTime}}",
                            path: "/files/{{.Path}}",
                            desc:"{{.Description}}",
                        },
                        {{end}}
                    ]
                },
            dates["{{$value.Date}}"] = v;
            dateOrder.push(v);
        {{end}}
    
        </script>
        
    <style>
    
    .event {
      display:inline;
      border:thin solid yellow;
      background:blue;
      color:white;
      border-radius: 3px;
      padding:2px;
      margin:1px;
      font-family: sans-serif;
    }

    .event-selected {
      background: orange;
    }

    .container {
      margin-top:75px;
    }

    .dayevents {
      width:100%;
      overflow-x: scroll;
    }
    
    </style>


  </head>
  <body>

  <div class="container">

    <div class="row mb-3">
      <div class="col-md-12">
          <video width="100%" height="300" controls>
              <source id="videosrc" type="video/mp4"/>
            </video>
      </div>
    </div>
 {{range .Dates}}
    
          
    <div class="row mb-3">
        <div class="col-md-12 themed-grid-col">
  
          <h4>{{.Date}} - {{.DayOfWeek}}</h4>
          <div class="dayevents" date="{{.Date}}">
              {{range .Files}}
                  <div class="event" time="{{.StartTime}}" path="/files/{{.Path}}">x</div>
                  <div class="eventthumb" path="/files/{{.Thumb.Path}}">{{.Thumb.Time}}</div>
              {{end}}
            
          </div>
        </div>
          
    </div>
 {{end}}


</div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/public/scripts.js?1" type="text/javascript"></script>
  </body>
</html>
