
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <title>Cam Recorder</title>


    <script type="text/javascript">
    
        var dates = {}
        var dateOrder = []
        var v = JSON.parse({{.Json}});
    
    </script>
        
    <style>
    
    .event {
      display:inline;
      border:thin solid yellow;
      background:blue;
      color:white;
      border-radius: 3px;
      padding:2px;
      margin:1px;
      font-family: sans-serif;
    }

    .event-selected {
      background: orange;
    }

    .container {
      margin-top:75px;
    }

    .dayevents {
      width:100%;
      overflow-x: scroll;
    }
    
    .imgthumb {
      height:100px;
    }
    </style>


  </head>
  <body>

  <div class="container">

    <div class="row mb-3">
      <div class="col-md-12">
          <video width="100%" height="300" controls>
              <source id="videosrc" type="video/mp4"/>
            </video>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <select id="dates">
          {{range .Dates}}
            <option value="{{.Date}}">{{.DayOfWeek}} {{.Date}}</option>
         
          {{end}}
        </select>
      </div>
    </div>
 {{range .Dates}}
    
          
    <div class="row mb-3 date" date="{{.Date}}">
        <div class="col-md-12 themed-grid-col">
  
          <h4>{{.Date}} - {{.DayOfWeek}}</h4>
         
          <div class="dayevents row mb-3" date="{{.Date}}">
             <div class="col-md-12">
              {{range .Videos}}
              <div class="row mb-3">
                   
                     <div class="event col-md-4" time="{{.Time}}" path="/files/{{.Path}}">{{.Description}}</div>
                     <div class="col-md-4 ">
                      <img class="imgthumb" src="/files/{{.Thumb.Path}}"/>
             
                    </div>
              </div>
                {{end}}
            </div>
          </div>
        </div>
          
    </div>
 {{end}}


</div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/public/scripts.js?2" type="text/javascript"></script>
  </body>
</html>
